body {
            background: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 800px;
            
        }

        .calculator {
            width: 300px;
            background: #000;
            padding: 20px;
            border-radius: 25px;
            color:#f2f2f2
        }

        .title {
            background: white;
            color: black;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
        }

        .zero {
            text-align: right;
            font-size: 40px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px;
        }

        .btn {
            background: #333;
            padding: 18px;
            border-radius: 50%;
            text-align: center;
            font-size: 20px;
            
        }

        .btn.gray {
            background: #888;
            color:black;
        }

        .btn.orange {
            background: orange;
            color: white;
        }
